ion-content {
  --background: none;
  background-image: linear-gradient(to bottom right, #f2e9f7, #e0f2f7); /* Mismo gradiente */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ion-header {
  ion-toolbar {
    --background: linear-gradient(to right, #f2e9f7, #e0f2f7);
    --color: #333;
    box-shadow: none;
  }
}

ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ion-card {
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin-top: 50px; // Puedes ajustar el margen superior para que se vea bien
  margin-bottom: 50px;
  padding: 10px;
  width: 100%;
  max-width: 450px;
}

ion-card-header {
  padding-bottom: 15px;
}

ion-card-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #5d5d81;
  margin-top: 15px;
}

ion-card-subtitle {
  color: #7f8c8d;
  font-size: 1em;
  margin-bottom: 20px;
}

.app-logo-forgot { /* Clase específica para el logo en esta página */
  width: 180px;
  height: auto;
  margin: 20px auto 30px auto;
  display: block;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

ion-item {
  --background: transparent;
  --border-color: #ddd;
  --highlight-color-focused: #6a1b9a;
  --highlight-color-valid: #6a1b9a;
  --highlight-color-invalid: #d32f2f;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  padding-bottom: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  text-align: center;
  padding-left: 0;
  font-size: 0.75em;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

ion-text[color="danger"] {
  color: var(--ion-color-danger, #eb445a);
}

ion-item.ion-invalid.ion-touched {
  --border-color: var(--ion-color-danger, #eb445a) !important;
}

ion-button[type="submit"] {
  --background: #6a1b9a;
  --background-activated: #7b1fa2;
  --color: #fff;
  border-radius: 10px;
  font-weight: bold;
  height: 50px;
  margin-top: 25px;
  margin-bottom: 15px;
}

ion-text p {
  font-size: 0.9em;
  color: #555;
  margin-top: 0px;
  margin-bottom: 5px;
}

ion-text a {
  color: #6a1b9a;
  text-decoration: none;
  font-weight: bold;
}